.blue {
    color: blue;
}
  
.transformed {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.blue:hover {
    color: green;
    border: 1px solid;
    background: orange;
}

@media(max-width: 360px) {
    .bold {
        display: none;
    }
}
  